* {
    font-family: 'Noto Sans', 'Avenir', Arial, Helvetica, sans-serif
    /* Noto Sans, Avenir, Helvetica,Arial,sans-serif */
}

body {
    background-color: white;
}

h1 {
    color: white;
}

.menu a {
    color: white;
}

.header-bar {
    background-color: darkcyan;
    overflow: hidden;
    width: 100%;
}
img {
    float: left;
}

/* .logo {
    display: inline-block;
} */


/* .id-tracker {
    background-color: white;
} */