<!-- FAQ page template -->
{% extends "app/layout.html" %}

{% block content %}

<main>
    <header class="page-header">
    </header>
    <h2>
        FAQs
    </h2>
    <article>
        <p>
            This page contains some of the most common questions regarding the ElectionGuard software and how elections work when ElectionGuard is implemented.
        </p>
        <h3>
            Q: Can I check who I voted for in my officially casted ballot?
        </h3>
        <p>
            <b>
                No.
            </b> The site will only display whether your vote was correctly tallied in the election.
        </p>
        <p>
            For privacy purposes, actual votes have no way of being displayed after they have been cast.
        </p>
        <h3>
            Q: Can others see who I voted for in my officially casted ballot?
        </h3>
        <p>
            <b>
                No.
            </b> No one, including the person who submitted their cast ballot can see the contents after it has been cast.
        </p>
        <h3>
            Q: Is my name attached to the verification code feature?
        </h3>
        <p>
            <b>
                No.
            </b> Verification codes are anonymous and encrypted. Names are never displayed on confirmation codes.
        </p>
        <h3>
            Q: What does my ballot status mean?
        </h3>
        <p>
            <b>
                Cast
            </b> - This status means that your ballot was received and is part of the election record
        </p>
        <p>
            <b>
                Spoiled
            </b> - This status indicates that this ballot was not cast, the ballot was spoiled, and the contents of the ballot are available to be seen
        </p>
        <h3>
            Q: Can someone find out who I am from a spoiled ballot?
        </h3>
        <p>
            <b>
                All
            </b> ballots whether they are cast or spoiled do not contain any Personally Identifiable Information (PII) and are fully encrypted.
        </p>
    </article>
</main>

{% endblock %}